/* Ancho y color del riel de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px;
  scrollbar-width: thin; /* Agrega soporte para Firefox */
  scrollbar-color: #888 #f1f1f1; /* Color del pulgar y del riel */
}

/* Estilo del pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Estilo del pulgar de la barra de desplazamiento al pasar el ratón */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type='time']::-webkit-calendar-picker-indicator {
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

